@import '../../main.scss';

.ab-header {
  justify-content: space-between;
  padding: 8px;
  background-color: var(--main-color);
  position: fixed;
  height: 66px;
  width: 100%;
}
.ab-title {
  margin: 0px auto 20px;
  text-align: center;
  font-size: 2.5rem;
  color: var(--main-color);
}
.ab-header_page-icon {
  width: 50px;
  height: 50px;
  overflow: hidden;
}
.ab-header_logo-text {
  color: white;
  margin-left: 8px;
  line-height: 16px;
}
.ab-header_navigation ul {
  list-style: none;
}
.ab-header_navigation-item {
  padding: 0px 8px;
}
.ab-header_navigation-link {
  font-weight: bold;
  color: white;
  text-decoration: none;
}
.color-inverted {
  background-color: var(--main-color);
  color: white;
}
.color-inverted .ab-title {
  color: var(--complementary-color);
}
.ab-index .content-wrapper{
  flex-direction: column;
  height: 100vh;
  width: 100%;
}
.ab-index_picture {
  overflow: hidden;
  height: 200px;
  width: 200px;
}
.ab-index_picture > img:nth-child(1) {
  margin: auto;
  margin-left: -20px;
}
.ab-index_introduce {
  color: white;
  text-align: center;
}
.ab-index_introduce h1 {
  font-size: 4rem;
}
.ab-index_introduce h2 {
  font-size: 3rem;
}

.ab-about {
  display: flex;
  flex-wrap: wrap;
}
.ab-about_picture {
  text-align: center;
  flex: 1;
  padding: 0px 10px;
}
.ab-about_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  padding: 0px 10px;
}
.ab-about_title {
  margin: 20px 0px;
}
.ab-experiences {
  text-align: center;
}
.ab-experiences_title, .ab-events_title {
  margin: 0px auto 20px;
}
.ab-experiences_path_block {
  display: flex;
}
.ab-experiences_path {
  padding: 20px;
}
.ab-experiences_path-item {
  border-radius: 4px;
  background-color: var(--complementary-color);
  padding: 8px;
  margin: 4px;
}
.ab-events .ab-carousel {
  height: calc(100vh - 120px);
  position: relative;
  background: black;
}
.ab-events .ab-carousel::before {
  background-image: url('../assets/img/YP-event.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  content: '';
  width: 100%;
  position: absolute;
  z-index: 1;
  height: 100%;
  opacity: 0.6;
}
.ab-carousel {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.ab-carousel_button {
  flex:1;
  text-align: center;
  margin: auto;
  font-size: 30px;
  position: relative;
  z-index: 2;
}
.ab-carousel_content {
  position: relative;
  z-index: 2;
  flex:10;
  padding: 40px;
}
.ab-events_resume {
  text-align: center;
}
.ab-events_name {
  font-size: 3.5rem;
}
.ab-events_description {
  font-size: 1.2rem;
  margin: 20px;
  line-height: 1.4;
}
.ab-projects {
  margin-bottom: 40px;
}
.ab-projects_grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 20px;
  justify-items: center;
}
.ab-projects_item {
  width: 200px;
  height: 200px;
  background: var(--complementary-color);
  border-radius: 8px;
}


.ab-footer{
  background-color: var(--complementary-color);
  padding: 50px;
}

.about{
  color: red;
}