* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #222264;
  --complementary-color: #d8d8d8;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle-border-wrapper {
  border: 2px solid black;
  border-radius: 100%;
  background-color: white;
}

.content-wrapper {
  max-width: 1280px;
  margin: auto;
  padding-top: 66px;
}
